@for $i from 1 through 118 {
  .pulse:nth-of-type(#{$i}) {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    animation-delay: random() + s;
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.rotate {
  animation: rotation 10s infinite linear;
  border-radius: 50%;
  border-top: 4px solid rgb(255 228 230);
  border-right: 4px solid rgb(221 214 254);
  border-left: 4px solid rgb(153 246 228);
  border-bottom: 4px solid rgb(253 230 138);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.slide-in {
  transform: translate(-100px);
  opacity: 0;
  -webkit-animation: slide-in 0.5s forwards;
  animation: slide-in 0.5s forwards;
}

@-webkit-keyframes slide-in {
  100% {
    transform: translate(0px);
    opacity: 100%;
  }
}

@keyframes slide-in {
  100% {
    transform: translate(0px);
    opacity: 100%;
  }
}

.slide-up {
  transform: translate(0, 50px);
  opacity: 0;
  -webkit-animation: slide-up 0.5s forwards;

  animation: slide-up 0.5s forwards;

  &-slow {
    transform: translate(0, 50px);
    opacity: 0;
    -webkit-animation: slide-up 1s forwards;
    animation: slide-up 1s forwards;
  }
}

@-webkit-keyframes slide-up {
  100% {
    transform: translate(0px);
    opacity: 100%;
  }
}

@keyframes slide-up {
  100% {
    transform: translate(0px);
    opacity: 100%;
  }
}

.crownfall {
  transform: translate(0, -50px);
  opacity: 0;
  -webkit-animation: crownfall 2s forwards;
  animation: crownfall 2s forwards;
}

@-webkit-keyframes crownfall {
  100% {
    transform: translate(0px) rotate(12deg);
    opacity: 100%;
  }
}

.wiggle {
  animation: wiggle 2s infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(12deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-12deg);
  }
  99% {
    transform: rotate(0);
  }
}
